<!DOCTYPE html>
<html lang="en">
<head>
        <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div id="container">
    <h2>Edit</h2>

    <form action="/app/<%=outfit.id%>?_method=PUT" method="POST">
       <div class="edit"> Hat/hair accessories:</div> <input type="text" name="hat" value="<%=outfit.hat%>" />
      <div class="edit"> Top/dress: </div> <input type="text" name="top" value="<%=outfit.top%>" />
       <div class="edit"> Accessories: </div> <input type="text" name="accs" value="<%=outfit.accs%>" />
        <div class="edit">Bottom: </div> <input type="text" name="price" value="<%=outfit.bottom%>" />
        <div class="edit">Shoes: </div> <input type="text" name="qty" value="<%=outfit.shoes%>" /> 
        <div class="edit"> Tags (occassions): <input type="text" name="tags" value="<%=outfit.tags%>">
        <input type="submit" name="" value="Submit Changes"/>
    </form>
</div>
</body>
</html>