<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include ('../partials/head.ejs') %>
      </head>
</head>
<body>
    <div id="container">
    <div><img style="max-width: 300px; max-height: 200px;" src="<%=outfit.hat%>"> </div>
    <div style="max-height: 310px; overflow: hidden;"> <img style="max-width: 300px;" src="<%=outfit.top%>"></div>
     <div><img style="max-width: 300px; max-height: 200px;" src="<%=outfit.accs%>"></div>
     <div><img style="max-width: 300px; max-height: 310px;" src="<%=outfit.bottom%>"></div>
     <div><img style="max-width: 300px; max-height: 200px;" src="<%=outfit.shoes%>"></div>
    <div><%=outfit.tags%></div>
    <div>Outfit by <%=outfit.user%></div>
    </div>
    <h2><a href="/app">Back to Outfits Index</a></h2>
</body>
</html>