<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include ('../partials/head.ejs') %>
      </head>
</head>
<body>
    <div>Hat/hair accessories: <img src="<%=outfit.hat%>"> </div>
    <img src="<%=outfit.top%>">
    <img src="<%=outfit.accs%>">
    <img src="<%=outfit.bottom%>">
    <img src="<%=outfit.shoes%>">
    <div><%=outfit.tags%></div>
    <div>Outfit by <%=outfit.user%></div>
   
    <h2><a href="/app">Back to Outfits Index</a></h2>
</body>
</html>